<html>
    <body>
        <h3>Dear ${order.customerInfo.name}, thank you for placing order.</h3>

        <div>
            Your order id is : ${order.orderId}.
        </div>
        <span>Sent using Velocity Template</span>
    </body>
</html>

