/.gradle/
/bin/
/MDS_daily_20180316.pdf
/myReport.log
/myReport.log.1
/myReport.log.2
/logs/
/reports/
/May.txt
/mar.txt
/Apr.txt
/SupportAgentTeam.xlsx
/SupportAgentTeam.csv
/SupportAgentTeam_old.csv
/test.csv
