<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- Cron Trigger, run on every day 15:00 -->
	<bean name="BatchMDSDailyJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSDaily" />
	</bean>		
	<bean id="cronTriggerBatchMDSDailyJob" 
                class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSDailyJob" />
		<property name="cronExpression" value="0 0 10,15 * * ? *" />
		<!--<property name="cronExpression" value="0/35 * * * * ? *" />-->
		
		<!--<property name="cronExpression" value="0 0 15 ? * MON-FRI" />-->
	</bean>	
	
	<!-- Cron Trigger, run on SAT-SUN every 12:00, 18:00 -->
	<bean name="BatchMDSWeekendJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSDaily" />
	</bean>	
	<bean id="cronTriggerBatchMDSWeekendJob" 
                class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSWeekendJob" />
		<!--<<property name="cronExpression" value="0 0 12/18 * * ? *" />-->
		<property name="cronExpression" value="0 0 10,12,18 ? * SAT-SUN" />
	</bean>
	
	
	
	<!-- Cron Trigger for populate data Incident, Servicedesk, Userrequest -->
	<bean name="BatchMDSPopulateIncidentJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSPopulateIncident" />
	</bean>
	<bean id="cronTriggerBatchMDSPopulateIncidentJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSPopulateIncidentJob" />
		<property name="cronExpression" value="0 0 9 * * ? *" />
	</bean>
	
	<bean name="BatchMDSPopulateServiceDesk" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSPopulateIncident" />
	</bean>
	<bean id="cronTriggerBatchMDSPopulateServiceDeskJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSPopulateIncidentJob" />
		<property name="cronExpression" value="0 10 9 * * ? *" />
	</bean>
	
	<bean name="BatchMDSPopulateUserRequest" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSPopulateIncident" />
	</bean>
	<bean id="cronTriggerBatchMDSPopulateUserRequestJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSPopulateIncidentJob" />
		<property name="cronExpression" value="0 25 9 * * ? *" />
	</bean>	
	<!-- End populate data -->
	
	
	
	<!-- Cron for generate report  -->
	<bean name="BatchMDSReportSAWeeklyJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSReportSAWeekly" />
	</bean>
	<bean id="cronTriggerBatchMDSReportSAWeeklyJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSReportSAWeeklyJob" />
		<!--<property name="cronExpression" value="0 0 10 ? * MON" />-->
		<property name="cronExpression" value="0 51 13 * * ? *" />
	</bean>
	
	<bean name="BatchMDSReportSDWeeklyJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSReportSDWeekly" />
	</bean>
	<bean id="cronTriggerBatchMDSReportSDWeeklyJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSReportSDWeeklyJob" />
		<!--<property name="cronExpression" value="0 0 10 ? * MON" />-->
		<property name="cronExpression" value="0 51 13 * * ? *" />
	</bean>
	
	<bean name="BatchMDSReportSAMonthlyJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSReportSAMonthly" />
	</bean>
	<bean id="cronTriggerBatchMDSReportSAMonthlyJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSReportSAMonthlyJob" />
		<!--<property name="cronExpression" value="0 0 10 1 1/1 ? *" />-->
		<property name="cronExpression" value="0 0 14 * * ? *" />
	</bean>
	
	<bean name="BatchMDSReportSDMonthlyJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSReportSDMonthly" />
	</bean>
	<bean id="cronTriggerBatchMDSReportSDMonthlyJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSReportSDMonthlyJob" />
		<!--<property name="cronExpression" value="0 0 10 1 1/1 ? *" />-->
		<property name="cronExpression" value="0 0 14 * * ? *" />
	</bean>
	
	<!-- End generate report -->
	
	
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!--
				<ref bean="cronTriggerBatchMDSDailyJob" />
				<ref bean="cronTriggerBatchMDSWeekendJob" />
				-->
				<!-- 
				<ref bean="cronTriggerBatchMDSPopulateIncidentJob" />
				<ref bean="cronTriggerBatchMDSPopulateServiceDeskJob" />
				<ref bean="cronTriggerBatchMDSPopulateUserRequestJob" />
				-->
				<ref bean="cronTriggerBatchMDSReportSAWeeklyJob" />
				<ref bean="cronTriggerBatchMDSReportSDWeeklyJob" />
				<ref bean="cronTriggerBatchMDSReportSAMonthlyJob" />
				<ref bean="cronTriggerBatchMDSReportSDMonthlyJob" />
				
			</list>
		</property>
	</bean>

</beans>