<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- Cron Trigger, run on every day 15:00 -->
	<bean name="BatchMDSDailyJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSDaily" />
	</bean>		
	<bean id="cronTriggerBatchMDSDailyJob" 
                class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSDailyJob" />
		<property name="cronExpression" value="0 0 10,15 * * ? *" />
		<!--<property name="cronExpression" value="0/35 * * * * ? *" />-->
		
		<!--<property name="cronExpression" value="0 0 15 ? * MON-FRI" />-->
	</bean>	
	
	<!-- Cron Trigger, run on SAT-SUN every 12:00, 18:00 -->
	<bean name="BatchMDSWeekendJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSDaily" />
	</bean>	
	<bean id="cronTriggerBatchMDSWeekendJob" 
                class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSWeekendJob" />
		<!--<<property name="cronExpression" value="0 0 12/18 * * ? *" />-->
		<property name="cronExpression" value="0 0 10,12,18 ? * SAT-SUN" />
	</bean>
	
	
	
	<!-- Cron Trigger for populate data Incident, Servicedesk, Userrequest -->
	<bean name="BatchMDSPopulateIncidentJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSPopulateIncident" />
	</bean>
	<bean id="cronTriggerBatchMDSPopulateIncidentJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSPopulateIncidentJob" />
		<property name="cronExpression" value="0 0 9 * * ? *" />
	</bean>
	
	<bean name="BatchMDSPopulateServiceDesk" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSPopulateServiceDesk" />
	</bean>
	<bean id="cronTriggerBatchMDSPopulateServiceDeskJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSPopulateServiceDesk" />
		<property name="cronExpression" value="0 0 9 * * ? *" />
	</bean>
	
	<bean name="BatchMDSPopulateUserRequest" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSPopulateUserRequest" />
	</bean>
	<bean id="cronTriggerBatchMDSPopulateUserRequestJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSPopulateUserRequest" />
		<property name="cronExpression" value="0 0 9 * * ? *" />
	</bean>	
	<!-- End populate data -->
	
	
	
	<!-- Cron for calculate performance -->
	<!-- Cron for calculate performance weekly-->
	<bean name="BatchMDSWeeklySAPerformance" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSReportSAWeekly" />
	</bean>
	<bean id="cronTriggerBatchMDSWeeklySAPerformance" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSWeeklySAPerformance" />
		<property name="cronExpression" value="0 0 10 ? * MON" />
	</bean>	
	
	<bean name="BatchMDSWeeklySDPerformance" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSReportSDWeekly" />
	</bean>
	<bean id="cronTriggerBatchMDSWeeklySDPerformance" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSWeeklySDPerformance" />
		<property name="cronExpression" value="0 0 10 ? * MON" />
	</bean>	
	
	
	
	<!-- Cron for calculate performance monthly--> 
	<bean name="BatchMDSMonthlySAPerformance" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSReportSAMonthly" />
	</bean>
	<bean id="cronTriggerBatchMDSMonthlySAPerformance" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSMonthlySAPerformance" />
		<property name="cronExpression" value="0 0 10 1 * ?" />
	</bean>	
	
	<bean name="BatchMDSMonthlySDPerformance" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSReportSDMonthly" />
	</bean>
	<bean id="cronTriggerBatchMDSMonthlySDPerformance" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSMonthlySDPerformance" />
		<property name="cronExpression" value="0 0 10 1 * ?" />
	</bean>	
	<!-- End calculate performance -->
	
	
	
	<!-- update tempvalue LAST_MONTH -->
	<bean name="BatchUpdateTempMonthJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchUpdateTempMonth" />
	</bean>
	<bean id="cronTriggerBatchUpdateTempMonthJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchUpdateTempMonthJob" />
		<property name="cronExpression" value="0 0 23 1 * ?" />
	</bean>
	<!-- End update tempvalue -->
	
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTriggerBatchMDSDailyJob" />
				<ref bean="cronTriggerBatchMDSWeekendJob" />
				
				<ref bean="cronTriggerBatchUpdateTempMonthJob" />
				
				<ref bean="cronTriggerBatchMDSWeeklySAPerformance" />
				<ref bean="cronTriggerBatchMDSWeeklySDPerformance" />
			
				<ref bean="cronTriggerBatchMDSMonthlySAPerformance" />
				<ref bean="cronTriggerBatchMDSMonthlySDPerformance" />
				 
				<ref bean="cronTriggerBatchMDSPopulateIncidentJob" />
				<ref bean="cronTriggerBatchMDSPopulateServiceDeskJob" />
				<ref bean="cronTriggerBatchMDSPopulateUserRequestJob" />
				
				<!-- 
				<ref bean="cronTriggerBatchMDSReportSAWeeklyJob" />
				<ref bean="cronTriggerBatchMDSReportSDWeeklyJob" />
				<ref bean="cronTriggerBatchMDSReportSAMonthlyJob" />
				<ref bean="cronTriggerBatchMDSReportSDMonthlyJob" />
				-->
			</list>
		</property>
	</bean>

</beans>